/* Namari Landing Page Dynamic Style Index

1. Website Default Styling
2. Navigation
3. Primary and Secondary Colors
4. Banner
5. Typography
6. Buttons
7. Footer


/*------------------------------------------------------------------------------------------*/
/* 1. Website Default Styling */
/*------------------------------------------------------------------------------------------*/


body {
    background:#fff;
}


/* Default Link Color */

a, .la-ball-triangle-path {
    color:#d2b356;
}

a:hover, #header.nav-solid nav a:hover {
    color:#d2b356;
}

/* Default Icon Color */

.icon i {
    color:#d2b356;
}

/* Border Color */

#banner .section-heading:before, .testimonial.classic footer:before {
    background: #d2b356;
}

.pricing-block-content:hover {
    border-color:#d2b356;
}


/*------------------------------------------------------------------------------------------*/
/* 2. Navigation */
/*------------------------------------------------------------------------------------------*/


/* Transparent Navigation Color on a Banner */

#header nav a, #header i {
    color:#111;
}


/* Navigation Colors when the Navigation is sticky and solid */ 

#header.nav-solid, #header.nav-solid a, #header.nav-solid i, #nav-mobile ul li a {
    color:#333;
}


/* Navigation Active State */

#header.nav-solid .active {
    color: #d2b356;
    border-color: #d2b356;
}    



/*------------------------------------------------------------------------------------------*/
/* 3. Primary and Secondary Colors */
/*------------------------------------------------------------------------------------------*/


/* Primary Background and Text Colors */

.primary-color, .featured .pricing {
    background-color:#d2b356;
}

.primary-color, .primary-color .section-title, .primary-color .section-subtitle, .featured .pricing, .featured .pricing p {
    color:#fff;    
}

.section-heading h2:after {
    background:#d2b356;
    content:"";
    display:block;
    width:30px;
    height:5px;
    margin-top:30px;
}

.text-center .section-heading h2:after {
    margin:30px auto 25px auto;
}

/* Primary Icon Colors */

.primary-color .icon i, .primary-color i {
    color:#fff;
}


/* Secondary Background and Text Colors */

.secondary-color {
    background-color:#f5f5f5;
}


/*------------------------------------------------------------------------------------------*/
/* 4. Banner */
/*------------------------------------------------------------------------------------------*/


/* Banner Background and Text Colors */

#banner {
    background: url("../images/banner-images/banner-image-1.jpg") no-repeat center top;
    background-size:cover;
}


/*------------------------------------------------------------------------------------------*/
/* 5. Typography */
/*------------------------------------------------------------------------------------------*/


body {
    font-family: 'Open Sans', sans-serif, Arial, Montserrat, Helvetica;
    font-size:15px;
    font-weight:normal;
    color:#111;
}

/* Logo, if you are using Fonts as Logo and not image

#logo h1 {
    font-family:;
    font-size:; 
    font-weight:;
    color:;
}

#logo h2 {
    font-family:;
    font-size:; 
    font-weight:;
    color:;
}

*/


/* Banner Typography */

#banner h1 {
	font-family: "Open Sans", sans-serif, Arial, Helvetica;
	font-size: 62px;
	line-height: 60px;
	font-weight: 800;
	color: #FFFFFF;
}

#banner h2 {
	font-family: montserrat;
	font-size: 18px;
	font-weight: 400;
	color: #281338;
	font-style: normal;
}


/* Section Title and Subtitle */

.section-title {
	font-size: 34px;
	font-weight: 400;
	color: #281338;
	font-style: normal;
	font-family: montserrat-black;
}

.section-subtitle {
	font-family: 'Open Sans', sans-serif, Arial, Helvetica;
	font-size: 16px;
	font-weight: 300;
	color: #281338;
}

/* Testimonial */

.testimonial q {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 17px; 
    font-weight:300;
}

.testimonial.classic q, .testimonial.classic footer {
    color:#111;
}


/* Standard Headings h1-h6 */

h1 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 40px; 
    font-weight:300;
    color:#111;
}

h2 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 34px; 
    font-weight:300;
    color:#111;
}

h3 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 30px; 
    font-weight:700;
    color:#111;
}

h4 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 18px; 
    font-weight:400;
    color:#111;
}

h5 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 16px; 
    font-weight:400;
    color:#111;
}

h6 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 14px; 
    font-weight:400;
    color:#111;
}


/*------------------------------------------------------------------------------------------*/
/* 6. Buttons */
/*------------------------------------------------------------------------------------------*/

/* ----------Default Buttons---------- */


/* Button Text */

.button, input[type="submit"]  {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:14px;
    font-weight:bold;
    color:#111;
}


/* Button Color */

.button, input[type="submit"] {
    border-color:#111;
}


/* Button Hover Color */

.button:hover,  input[type="submit"]:hover {
    border-color:#d2b356;
    color:#d2b356;
}


/* ----------Banner Buttons---------- */


/* Button Text */

#banner .button {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:16px;
    color:#111;
}


/* Button Color */

#banner .button {
    border-color:#111;
}


/* Button Hover Color */

#banner .button:hover {
	color: #281338;
	border-color: #281338;
	font-family: montserrat;
	font-style: normal;
	font-weight: 400;
}


/*------------------------------------------------------------------------------------------*/
/* 7. Footer */
/*------------------------------------------------------------------------------------------*/

#landing-footer, #landing-footer p, #landing-footer a {
	font-family: 'Open Sans', sans-serif, Arial, Helvetica;
	font-size: 14px;
	font-weight: normal;
	color: #999;
}

/* Footer Icon Color */

#landing-footer i {
    color:#999;
}
