# Miscellaneous
*.class
*.log
*.pyc
*.swp
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

dist
# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/linux/Yana.AppDir/data/
/linux/Yana.AppDir/lib/
/linux/Yana.AppDir/yana
/Yana-x86_64.AppImage
/appimagetool-x86_64.AppImage
/linux/Yana.AppDir/logo.png
/Yana.AppDir/logo.png
/Yana.AppDir/yana
/Yana.AppDir/lib/
/Yana.AppDir/data/
/.vscode/launch.json
